{% extends 'base.html' %}
{% block title %}Добавить авто{% endblock %}
{% block body %}
<h3>Добавить авто</h3>
<form method="post">
  <input type="text" name="model" placeholder="model"><br/>
    <input type="text" name="color" placeholder="color"><br/>
    <input type="text" name="number" placeholder="number"><br/>
    <input type="number" name="price_first" placeholder="99">
    <input type="number" name="price_second" placeholder="99"><br/>
    <input type="submit" value="add">
</form>
{% endblock %}