{% extends 'base.html' %}
{% block title %}Регистрация пользователя{% endblock %}
{% block body %}
<h3>Регистрация пользователя</h3>
{% for message in get_flashed_messages() %}
{{message}}
{% endfor %}

<form method="post">
    <input type="text" name="name" placeholder="name" value="{{ name }}"><br/>
    <input type="email" name="email" placeholder="email" value="{{ email }}"><br/>
    <input type="password" name="password" placeholder="password" value="{{ password }}"><br/>
    <input type="password" name="password2" placeholder="repeat password" value="{{ password2 }}"><br/>
    <input type="submit" value="Зарегистрироваться">
    <br>
    <input type="checkbox" name="and_login"> and login
    <br>
</form>
<p><a href="/home">main page</a></p>
{% endblock %}